// 300
@font-face {
    font-family: "Pragmatica-Light";
    src : url("../fonts/Pragmatica-Light.ttf");
}

//400
@font-face {
    font-family: "Pragmatica-Book";
    src : url("../fonts/Pragmatica-Book.ttf");
}

//500
@font-face {
    font-family: "Pragmatica-Medium";
    src : url("../fonts/Pragmatica-Medium.ttf");
}

//400
@font-face {
    font-family: "TTCommons-Regular";
    src : url("../fonts/TTCommons-Regular.ttf");
}

//500
@font-face {
    font-family: "TTCommons-Medium";
    src : url("../fonts/TTCommons-Medium.ttf");
}

//600
@font-face {
    font-family: "TTCommons-DemiBold";
    src : url("../fonts/TTCommons-DemiBold.ttf");
}

//700
@font-face {
    font-family: "TTCommons-Bold";
    src : url("../fonts/TTCommons-Bold.ttf");
}